.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-area {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px hsla(0, 0%, 56%, 0.16);
  padding: 40px;
  text-align: center;
}
h1 {
  margin-top: 0;
}
input {
  height: 40px;
  width: 70%;
}
input:is(:hover, :focus) {
  outline: none;
  box-shadow: none;
}
button {
  height: 48px;
  width: 20%;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-area ul li {
  text-align: left;
  margin-bottom: 10px;
}
.form-area ul li span {
  margin-left: 10px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  padding: 5px 20px;
}
p.totalTodos {
  text-align: left;
  text-indent: 40px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}
